.idea/.idea.Foosball
.idea/.idea.Foosball
.idea/.idea.Foosball/.idea
FrontEnd/bin
FrontEnd/obj
BusinessLogic/obj
BusinessLogic/bin
Migrations
DTO/obj
BusinessLogic/bin
DTO/bin
BusinessLogic/EloSystem.db-shm
BusinessLogic/EloSystem.db-wal
bin
obj
Foosball.slnx.DotSettings.user
FrontEnd/logs/
.idea
