<SfCard ID="BasicCard">
    <CardHeader Title="Match #123" />
    <CardContent Content="Tech evangelists are currently pounding their pulpits about all things AI, machine learning, analytics—anything that sounds">
        <div class="teams-container">
            <div class="team red-team">
                <p class="team-name">Red Team</p>
                <div class="team-images">
                    <img src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="temp image">
                </div>
            </div>

            <div class="scores">
                <p class="red-score">3</p>
                <p class="blue-score">5</p>
            </div>

            <div class="team blue-team">
                <p class="team-name">Blue Team</p>
                <div class="team-images">
                    <img src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="temp image">
                    <img src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="temp image">
                </div>
            </div>
        </div>
    </CardContent>
</SfCard>


@code {
    
    
}